.todoItem {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("../../img/todoItem_background.jpg");
    background-position: center right;
    transition: 0.2s;
}

.todoItem:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
    cursor: pointer;
}

.todoItem__text {
    color: black;
    overflow: hidden;
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todoItem__text:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.drag {
    box-shadow: 0 0 20px black;
}
